body{
    width: 90%;
    
}

.greetings-landing-page{
    width: 91%;
    margin: 0 auto;

}

/* AD */
.ad {
    background: #D9D9D9;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 8% auto;
    width: 90%;
    
}

.text {
    color: #000;
    font-family: 'Merriweather', serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03rem;
}

/* Header */
header{
    margin-bottom: 3%;
}

.header-container{
    display: flex;
    align-items: center;  
}

.center-logo{
    display: flex;
    margin-left: 40%;
    margin-right: 30%;
}

.right-options{
    display: flex;
    gap: 7%;
    align-items: center;
    width: 15%;
}

.language-selector-text{
    font-family: 'Montserrat', sans-serif;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: 131%;
}
.language-selector{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

.join-login-options{
    display: flex;
    gap: 5%;
    width: 40%;
    align-items: center;
}

.join{
    text-decoration: none;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 131%;
}
.login{
    text-decoration: none;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 131%;
}

/* Hero Section */
.hero-section{
    display: flex;
    
    
}
.hero-video-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.hero-video{
    border-radius: 1.5rem;
    border: 2px solid rgba(0, 0, 0, 0.15);
    background: #FFF;
    width: 80%;
    height: 30rem;
}
.watch-tutorial-modal{
    background: #FFF;
    border-radius: 1rem;
    justify-content: center;
    width: 18%;
    display: flex;
    position: absolute;
    transform: translate(36%, 166%);
    fill: #FFF;
        filter: drop-shadow(0px 8px 25px rgba(0, 0, 0, 0.10));
    height: 16%;
}
.watch-tutorial-modal-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
#green-text{
    color: #4E9459;
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;   
        margin-top: 2%;
        margin-bottom: 3%;
}
#green-sub-text{
    color: #696969;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 0%;
    margin-bottom: 6%;
}
#watch-tutorial-text{
    color: #696969;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 auto;
}
.watch-tutorial-button{
    display: flex;
    width: 50%;
    justify-content: space-between;
    border-radius: 0.5rem;
        border: 1px solid #696969;
    padding: 4%;
    text-decoration: none;
}
.hero-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    padding: 0 12%;
}
.hero-text-main{
    color: #454545;
    font-family: 'Merriweather', serif;
    font-size: 2.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.75rem; /* 142.857% */
}
.hero-text-sub{
    color: #444343;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 161%; /* 1.61rem */
    width: 75%;
}

.create-greeting-button{
    border-radius: 0.625rem;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.15);
    background: #4E9459;
    flex-shrink: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 55%;
    text-decoration: none;
    color: #FFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.create-greeting-button-text{
    padding: 1% 0;
}

/* Greeting Styles */

.greeting-style-container{
    display: flex;
    margin: 5% 10%;
    flex-direction: column;
}

.greeting-text-conatiner{
    display: flex;
    flex-direction: column;
}
.Main-text{
    color: #454545;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 137.687%; /* 3.01194rem */
    margin: 1% auto;
}

.sub-text{
    color: #717171;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.01125rem;
    margin: 1% auto;
}

.greeting-options-container{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}
.greeting-option-left{
    display: flex;
    flex-direction: column;
    width: 45%;
}
.greeting-option-left-image{
    border-radius: 0rem 0rem 0.4375rem 0.4375rem;
    background: #EAEAEA;
    height: 20rem;
}
.greeting-option-text-left{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
.greeting-option-text-left-main{
    color: #454545;
    font-family: Merriweather;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 137.687%; /* 2.75375rem */
    margin-top: 8%;
    margin-bottom: 4%;
}
.greeting-option-text-left-sub{
    color: #454545;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 2%;
    margin-left: 4%;
}
.greeting-option-text-left-sub-link{
    color: #454545;
    font-family: Merriweather;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 137.687%; /* 1.89319rem */
    text-decoration-line: underline;
}


.greeting-option-right {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.greeting-option-right-image {
    border-radius: 0rem 0rem 0.4375rem 0.4375rem;
    background: #EAEAEA;
    height: 20rem;
}

.greeting-option-text-right {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.greeting-option-text-right-main {
    color: #454545;
    font-family: Merriweather;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 137.687%;
    /* 2.75375rem */
    margin-top: 8%;
    margin-bottom: 4%;
}

.greeting-option-text-right-sub {
    color: #454545;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 2%;
    margin-left: 4%;
}

.greeting-option-text-right-sub-link {
    color: #454545;
    font-family: Merriweather;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 137.687%;
    /* 1.89319rem */
    text-decoration-line: underline;
}



/* Feeling Cards */

.feeling-cards-container{
    display: flex;
    margin: 5% 10%;
    flex-direction: column;
}

.feeling-cards-text{
    color: #494949;
    font-family: 'Merriweather', serif;
    font-size: 2.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.02625rem;
}

.feelings-cards-categories{
    display: flex;
    
   
}

.feeling-cards-categories-left{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.feeling-category-left-text{
    color: #494949;
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.015rem;
}

.feeling-card-left-category{
    display: flex;
    flex-direction: column;
    margin: 15% auto;

}

.feeling-category-left-text{
    color: #494949;
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.015rem;
    margin: 4% auto;
}

.feeling-cards-categories-right{
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-top: 18%;
}
.feeling-card-right-category{
    display: flex;
    flex-direction: column;
    margin: 11% auto;
}
.feeling-category-right-text{
    color: #494949;
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.015rem;
    margin: 4% auto;
}

/* Birthday Cards */
.birthday-cards-container{
    display: flex;
    margin: 5% 10%;
    flex-direction: column;
}

.birthday-cards-text{
    color: #494949;
    font-family: 'Merriweather', serif;
    font-size: 2.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.02625rem;
}

.birthday-cards-categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 50%;
    margin-top: 2%;
}

.birthday-category-text{
    color: #494949;
    font-family: 'Merriweather', serif;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.00938rem;
    margin: 0 auto;
}

.birthday-card-category{
    display: flex;
    flex-direction: column;
    margin: 5% auto;
    width: 27%;
}

.birthday-card-category:nth-last-child(-n+2) img {
    width: 100%;
    height: auto;
    
}

.birthday-card-category:nth-child(7){
    margin-right: -7%;
}

/* Anniversary Cards */

.anniversary-cards-container{
    display: flex;
    margin: 5% 10%;
    flex-direction: column;
}

.anniversary-cards-text{
    color: #494949;
    font-family: 'Merriweather', serif;
    font-size: 2.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.02625rem;
}

.anniversary-cards-categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 46%;
    margin-top: 2%;
    margin-left: 4%;
}

.anniversary-card-category{
    display: flex;
    flex-direction: column;
    margin: 5% auto;
}

.anniversary-category-text{
    color: #494949;
    font-family: 'Merriweather', serif;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.00938rem;
    margin: 0 auto;
    margin-top: 3%;
}

/* More about greeting cards */

.more-about-greeting-cards{
    display: flex;
    margin: 5% 10%;
    
}
.heading-greeting-cards {
    color: #494949;
    font-family: 'Montserrat', serif;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 20% auto;
}