body{
    display: flex;
    width: 90%;
    align-items: center;
    justify-items: center;
}
/* Header */
header {
    background-color: #FFF;
    color: #fff;
    margin-left: 8.75rem;
}

#celebrare-logo {
    width: 2.5625rem;
    height: 4.02256rem;
    flex-shrink: 0;
    margin-right: 28.94rem;
}
#celebrare-text-logo{
    width: 9.48031rem;
    height: 2.40313rem;
    flex-shrink: 0;
    margin-right: 17.27rem;
}
.language {
color: #000;
    font-family: Montserrat;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 131%;
    /* 0.9825rem */
}
/*  Greeting Options */
.greeting-style-container {
    width: 100%;
    margin-left: 5.06rem;
    height: 51.75rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.greeting-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    gap: 1rem;
}
.Main-text{
    width: 30.4375rem;
    color: #454545;
    text-align: center;
    font-family: Merriweather;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 137.687%;
    /* 3.01194rem */
    margin-bottom: -1.6rem;
}
.sub-text{
    width: 52.125rem;
    color: #717171;
        text-align: center;
        font-family: Montserrat;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.01125rem;
}
.greeting-options-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 3rem;
}
.greeting-option-left{
    display: flex;
    flex-direction: column;
}
.greeting-option-left-image{
    width: 32.4375rem;
        height: 17.625rem;
        flex-shrink: 0;
        border-radius: 0rem 0rem 0.4375rem 0.4375rem;
            background: #EAEAEA;
}
.greeting-option-text-left{
    margin-left: 2rem;
}
.greeting-option-text-right {
    margin-left: 2rem;
}
.greeting-option-text-left-main{
    width: 31.75rem;
    color: #454545;
    font-family: Merriweather;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 137.687%;
}
.greeting-option-text-left-sub {

    color: #454545;
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.01125rem;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
}


.greeting-option-right {
    display: flex;
    flex-direction: column;
}

.greeting-option-right-image {
    width: 32.4375rem;
    height: 17.625rem;
    flex-shrink: 0;
    border-radius: 0rem 0rem 0.4375rem 0.4375rem;
    background: #EAEAEA;
}

.greeting-option-text-right-main {
    width: 31.75rem;
    color: #454545;
    font-family: Merriweather;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 137.687%;
}

.greeting-option-text-right-sub {

    color: #454545;
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.01125rem;
    margin-left: 1rem;
}
.greeting-option-text-left-sub-link {
    width: 6.4375rem;
    color: #454545;
    font-family: Merriweather;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 137.687%;
    /* 1.89319rem */
    text-decoration-line: underline;
    margin-left: 1rem;
}
.greeting-option-text-right-sub-link{
    width: 6.4375rem;
    color: #454545;
        font-family: Merriweather;
        font-size: 1.375rem;
        font-style: normal;
        font-weight: 400;
        line-height: 137.687%;
        /* 1.89319rem */
        text-decoration-line: underline;
        margin-left: 1rem;
}



/* Feeling cards */

.feeling-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 15.75rem;
    margin-right: 8.75rem;
    flex-direction: column;
    gap: 3rem;
}
.feeling-cards-text{
    color: #494949;
    font-family: Merriweather;
    font-size: 2.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.02625rem;
    
}
.feelings-cards-categories{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.feeling-cards-categories-left{
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}

.feeling-card-left-category {
    display: flex;
    flex-direction: column;
    width: 16.93rem;
    height: 22.5rem;
    padding-bottom: 0.00013rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}


.feeling-card-left-category > p{
    color: #494949;
    font-family: Merriweather;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.015rem;
}
.feeling-cards-categories-right {
    margin-top: 10rem;
    margin-right: 10rem;
    flex-direction: column;

}
.feeling-card-right-category {
    display: flex;
    flex-direction: column;
    width: 16.93rem;
    height: 25.5rem;
    padding-bottom: 0.00013rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.feeling-card-right-category > p {
    color: #494949;
    font-family: Merriweather;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.015rem;
}

/* Birthday cards */

.birthday-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 15.75rem;
    margin-right: 8.75rem;
    
}
.birthday-cards-text{
    color: #494949;
    font-family: Merriweather;
    font-size: 2.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.02625rem;
    
}
.birthday-cards-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 40.06rem;
}
.birthday-card-category{
    width: 9.4375rem;
    height: 8.5625rem;
    flex-shrink: 0;
    margin-bottom: 3.19rem;
    display: flex;
    flex-direction: column;
}

#funny-cards > img{
    height: 9rem;
    width: 9rem;
    
}
.birthday-card-category:nth-child(7) > p {
    margin-left: 11rem;
}
.birthday-card-category:nth-child(8) > p {
    margin-right: 8rem;
    text-align: center;
}
#general-cards > img {
    height: 9rem;
    width: 9rem;
    margin-left: -4rem;
}

.birthday-card-category #funny-cards{
    margin-left: 6rem;
}
.birthday-card-category #general-cards{
    margin-right: 6rem;
}
.birthday-card-category > p{
    display: flex;
    justify-content: center;
    margin-top: 0rem;
    color: #494949;
    font-family: Merriweather;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.00938rem;
    
}

/* Anniversary cards */
.anniversary-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 15.75rem;
    gap: 2rem;
    
}
.anniversary-cards-text{
    color: #494949;
    font-family: Merriweather;
    font-size: 2.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.02625rem;
    
}
.anniversary-cards-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 45.83rem ;
}
.anniversary-card-category{
    width: 12.5rem;
    height: 14.0625rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    
}
.anniversary-card-category > p{
    color: #494949;
    font-family: Merriweather;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;        
    line-height: normal;
    letter-spacing: 0.0125rem;
    margin-top: 0rem;
    
}

    
